<!DOCTYPE html>
{% load static %}
{% load django_vite %}
<html lang="en">
<head>
    {% include 'includes/meta.html' %}
    <title>{{ R.data.settings.site1.head }}{{ R.data.settings.site1.app_name }}</title>
	<link rel="shortcut icon" href="{% static R.data.settings.site1.app_icon %}">
	{% include 'includes/header.html' %}
	{% block css %}
	{% endblock %}
	{% vite_hmr_client %}
	{% vite_asset 'static/js/main.js' %}
</head>
{% include 'includes/gtrack.html' %}
<body data-theme="light">
	{% include 'includes/navigator.html' %}
	<main>
		{% include 'includes/aside.html' %}
		{% block content %}
		{% endblock %}
		{% include 'includes/footer.html' %}
		{% block js %}
		{% endblock %}
	</main>
</body>
</html>
